@use '../../sass/index' as *;
.logo-box {

    &__logo {
        
        position: relative;

        &--main {
            font-size: 2.5rem;
            display: inline-block;
            width: 4rem;
            height: 4rem;
            background-color: $color-btn-primary;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .5rem;
        }


        &--sub {
           position: absolute;
           display: inline-block;
           top: 50%;
           transform: translateY(-50%);
           left: 3rem;
           background-color: #000;
           padding: 0 1rem;
           text-transform: uppercase;
        }
    }
}